@model IEnumerable<EnGee.Models.TMember>

@{
    ViewData["Title"] = "MemberList";
}

<style>
    .btn-pink{
        background-color:pink;
        color:white;
        justify-content:center;
    }
    .btn-pink:hover{
        background-color:hotpink;
    }
    .box{
        height:100px;
    }
</style>
<h1>會員資料</h1>
<div>
    <div>
        <a asp-action="Create" asp-controller="MinMember" class="btn btn-pink ">新增會員</a>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            @:搜尋對象:
            <select name="txtkeywordfor">
                <option value="">全部</option>
                <option value="0">帳號</option>
                <option value="1">信箱</option>
                <option value="2">全名</option>
                <option value="3">地址</option>
                <option value="4">電話</option>
                <option value="5">註冊時間</option>
                <option value="6">生日</option>
            </select>

            @: 關鍵字查詢
            @Html.TextBox("txtKeyword")



            @: 範圍查詢 Point：
            @Html.TextBox("minPoint", null, new { placeholder = "最小值" })
            @Html.TextBox("maxPoint", null, new { placeholder = "最大值" })

            @: 篩選性別：
            <select name="genderFilter">
                <option value="">全部</option>
                <option value="0">男</option>
                <option value="1">女</option>
                <option value="2">未透漏</option>
            </select>

            @:篩選權限:
            <select name="accessFilter">
                <option value="">全部</option>
                <option value="0">網站管理員</option>
                <option value="1">一般使用者</option>
                <option value="2">員工</option>
                <option value="3">公益團體</option>
            </select>

            <input type="submit" value="查詢" />
        }
    </div>
</div>
<div class="box">

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                編號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RePassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model =>  model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Access)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.RandomToken)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CharityProof)
            </th>
            <th>
                編輯
            </th>
            <th>
                刪除
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;

            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RePassword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Access)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Point)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhotoPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Introduction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RandomToken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CharityProof)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id=item.MemberId }) 
                       
                    </td>
                    <td>
                        @Html.ActionLink("刪除", "Delete","Min_backmanage", new { id=item.MemberId  }, new {onclick="return confirm('確定要刪除嗎?')"})
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



                        @* =======================JS================== *@
