@model EnGee.ViewModel.SSJ_ShoppingListCombinedViewModel

@{
    ViewData["Title"] = "ShoppingList_admin";
    ViewBag.HeaderTitle = "訂單明細";
}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<meta charset="UTF-8">
<style>
    .swal2-popup.swal2-modal {
        font-size: 12pt;
    }

    .swal2-modal .swal2-title {
        font-size: 1.4em;
    }
    .card-img {
        max-height: 150px;
        min-height: 100px;
        max-width: 150px;
        min-width: 100px;
    }
    .card-img-overlay {
        display: none;
    }


    .table .tableoutside th:nth-child(1) {
        width: 10px;
    }

    .table .tableoutside th:nth-child(2) {
        width: 10px;
    }

    .table .tableoutside th:nth-child(4) {
        width: 10px;
    }

    .table .tableoutside th:nth-child(8) {
        width: 10px;
    }

    .table .tableoutside th:nth-child(10) {
        width: 10px;
    }

    .table .tableoutside th:nth-child(11) {
        width: 10px;
    }

    .table-vertical-center th, .table-vertical-center td {
        vertical-align: middle;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<main>

    <table class="table table-danger table-striped mt-2 table-vertical-center" style="font-size: 14px;">
    <thead>
        <tr>
            <th style="white-space: nowrap;text-align: center;">
                序號
            </th>
            <th style="white-space: nowrap;text-align: center;">訂單編號</th>
            <th style="white-space: nowrap;text-align: center;">訂單成立時間</th>
            <th style="white-space: nowrap;text-align: center;">訂單狀態ID</th>
            <th style="white-space: nowrap;text-align: center;">訂單狀態</th>
            <th style="white-space: nowrap;text-align: center;">訂單類型編號</th>
            <th style="white-space: nowrap;text-align: center;">訂單類型</th>
            <th style="white-space: nowrap;text-align: center;">買家ID</th>
           @*<th style="white-space: nowrap;text-align: center;">買家</th>*@
            <th style="white-space: nowrap;text-align: center;">超取超商店號</th>
            <th style="white-space: nowrap;text-align: center;">運費點數</th>
            <th style="white-space: nowrap;text-align: center;">訂單總花費</th>
                <th style="white-space: nowrap;text-align: center;">功能鈕</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count=0;
                @foreach (var order in Model.Orders)
            {
                count++;
                <tr>
                    <td style="text-align: center;">
                        @count
                    </td>
                    <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => order.OrderID)
                    </td>
                    <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => order.OrderDate)
                    </td>
                    <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => order.OrderStatus)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => order.OrderStatusDescription)
                    </td>
                    <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => order.OrderCatagory)
                    </td>
                    <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => order.OrderCatagoryDescription)
                    </td>
                    <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => order.BuyerID)
                    </td>
                   @* <td style="text-align: center;">
                          @Html.DisplayFor(modelItem => order.BuyerUsername)
                    </td>*@
                    <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => order.ConvienenNum)
                    </td>
                    <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => order.DeliveryFee)
                    </td>
                    <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => order.OrderTotalUsagePoints)
                    </td>
                        <td style="text-align: center;">
                            <div class="btn btn-sm btn-success me-2">
                                <a class="text-black" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#details-@order.OrderID">明細</a> 
                            </div>
                        </td>

                 </tr>
                    @foreach (var orderDetail in Model.OrderDetails.Where(od => od.OrderID == order.OrderID))
                {
                        <tr class="collapse" id="details-@order.OrderID">
                        <td colspan="24">
                            <table class="table">
                                <thead>
                                    <tr>
                                        @*<th></th>*@
                                        <th>訂單明細編號</th>
                                        <th>產品編號</th>
                                       @* <th>產品名稱</th>*@
                                        <th>商品單價</th>
                                        <th>商品購買數量</th>
                                        <th>賣家ID</th>
                                        @*<th>賣家</th>*@
                                        <th>寄送方式ID</th>
                                        @*<th>寄送方式</th>*@
                                        <th>寄送地址</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                            @*<td><img class="card-img img-fluid" src="@orderDetail.ProductImagePath" alt="@orderDetail.ProductName" width="50" /></td>*@
                                            <td>@Html.DisplayFor(modelItem => orderDetail.OrderDetailID)</td>
                                            <td>@Html.DisplayFor(modelItem => orderDetail.ProductID)</td>
                                            @*<td>@Html.DisplayFor(modelItem => orderDetail.ProductName)</td>*@
                                            <td>@Html.DisplayFor(modelItem => orderDetail.ProductUnitPoint)</td>
                                            <td>@Html.DisplayFor(modelItem => orderDetail.OrderQuantity)</td>
                                            <td>@Html.DisplayFor(modelItem => orderDetail.SellerID)</td>
                                            @*<td>@Html.DisplayFor(modelItem => orderDetail.SellerUsername)</td>*@
                                            <td>@Html.DisplayFor(modelItem => orderDetail.DeliveryTypeID)</td>
                                            <td>@Html.DisplayFor(modelItem => orderDetail.DeliveryAddress)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
</main>
@section Scripts {
    <script>

     

    </script>
}
