@model EnGee.ViewModel.SSJ_ShoppingListCombinedViewModel
@*已經修改至API*@
@{
    ViewData["Title"] = "Edit";
    ViewBag.HeaderTitle = "修改訂單";
}
<style>
    .swal2-popup.swal2-modal {
        font-size: 12pt;
    }
    
    .swal2-modal .swal2-title {
        font-size: 1.4em;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<main>
    <div class="d-flex justify-content-center">
        <h1>修改訂單</h1>
    </div>
    <div class="row">
        <div class=" d-flex justify-content-center">
            <form id="orderForm" action="@Url.Action("SSJ_EditOrder", "SSJ_ShoppingList")" method="post">
    <div class="form-group">
        <label for="OrderID">訂單編號</label>
                    <input id="Orders_0__OrderID" name="Orders[0].OrderID" class="form-control" readonly value="@Model.Orders.FirstOrDefault()?.OrderID" readonly />
    </div>
    <div class="form-group">
        <label for="OrderDate">訂單成立時間</label>
                    <input id="OrderDate" name="Orders[0].OrderDate" type="datetime" class="form-control" value="@Model.Orders.FirstOrDefault()?.OrderDate" />

    </div>
    <div class="form-group">
        <label for="OrderTotalUsagePoints">訂單總花費</label>
                    <input id="OrderTotalUsagePoints" name="Orders[0].OrderTotalUsagePoints" class="form-control" value="@Model.Orders.FirstOrDefault()?.OrderTotalUsagePoints" />
    </div>
    <div class="form-group">
        <label for="BuyerID">買家ID</label>
                    <input id="BuyerID" name="Orders[0].BuyerID" class="form-control" value="@Model.Orders.FirstOrDefault()?.BuyerID" />
    </div>
@*     <div class="form-group">
        <label for="BuyerUsername">買家</label>
                    <input id="BuyerUsername" name="Orders[0].BuyerUsername" class="form-control" value="@Model.Orders.FirstOrDefault()?.BuyerUsername" />
    </div> *@
    <div class="form-group">
        <label for="OrderStatus">訂單狀態ID</label>
                    <input id="OrderStatus" name="Orders[0].OrderStatus" class="form-control" value="@Model.Orders.FirstOrDefault()?.OrderStatus" />
    </div>
    <div class="form-group">
        <label for="OrderCatagory">訂單類型編號</label>
                    <input id="OrderCatagory" name="Orders[0].OrderCatagory" class="form-control" value="@Model.Orders.FirstOrDefault()?.OrderCatagory" />
    </div>
    @*@<div class="form-group">
        <label for="ConvienenNum">超取超商店號</label>
                    <input id="ConvienenNum" name="Orders[0].ConvienenNum" class="form-control" value="@Model.Orders.FirstOrDefault()?.ConvienenNum" />
    </div>*@
    <div class="form-group">
        <label for="DeliveryFee">運費點數</label>
                    <input id="DeliveryFee" name="Orders[0].DeliveryFee" class="form-control" value="@Model.Orders.FirstOrDefault()?.DeliveryFee" />
    </div>
                <hr / class="m-3">

                @for (int index = 0; index < Model.OrderDetails.Count(); index++)
                {
                    var orderDetail = Model.OrderDetails.ElementAt(index);

                    <div class="form-group">
                        <label for="OrderDetails_@index">訂單明細編號</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].OrderDetailID" class="form-control" readonly value="@orderDetail.OrderDetailID" />
                    </div>
                    <div class="form-group">
                        <label for="OrderDetails_@index">產品編號</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].ProductID" class="form-control" value="@orderDetail.ProductID" />
                    </div>

                  @*   <div class="form-group">
                        <label for="OrderDetails_@index">產品名稱</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].ProductName" class="form-control" value="@orderDetail.ProductName" readonly />
                    </div> *@

                    <div class="form-group">
                        <label for="OrderDetails_@index">商品單價</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].ProductUnitPoint" class="form-control" value="@orderDetail.ProductUnitPoint" readonly />
                    </div>

                    <div class="form-group">
                        <label for="OrderDetails_@index">商品購買數量</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].OrderQuantity" class="form-control" value="@orderDetail.OrderQuantity" />
                    </div>

                    <div class="form-group">
                        <label for="OrderDetails_@index">賣家編號</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].SellerID" class="form-control" value="@orderDetail.SellerID" />
                    </div>

@*                     <div class="form-group">
                        <label for="OrderDetails_@index">賣家</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].SellerUsername" class="form-control" value="@orderDetail.SellerUsername" />
                    </div> *@

                    <div class="form-group">
                        <label for="OrderDetails_@index">寄送方式編號</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].DeliveryTypeID" class="form-control" value="@orderDetail.DeliveryTypeID" />
                    </div>

@*                     <div class="form-group">
                        <label for="OrderDetails_@index">寄送方式</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].DeliveryType" class="form-control" value="@orderDetail.DeliveryType" />
                    </div> *@

                    <div class="form-group">
                        <label for="OrderDetails_@index">寄送地址</label>
                        <input id="OrderDetails_@index" name="OrderDetails[@index].DeliveryAddress" class="form-control" value="@orderDetail.DeliveryAddress" />
                    </div>
                    <hr / class="m-3">
    }

                <button type="submit" id="submitBtn">提交修改</button>
                 <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="SSJ_ShoppingList" asp-action="ShoppingList_admin">取消</a>
</form>
        </div>
    </div>
</main>
@section Scripts {
    <script>

    </script>
}

