@model IEnumerable<EnGee.Models.TProduct>

@{
    ViewData["Title"] = "Favor";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductImagePath)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescribe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationStatus)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProductSaleStatus)
            </th>
                @* @Html.DisplayNameFor(model => model.boolFavor) *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;

            foreach (var item in Model) {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescribe)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductExpirationDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DonationStatus)
                    </td>
                    
                    <td>
                        @*@Html.DisplayFor(modelItem => item.boolFavor)有錯誤先註解掉SSJ*@
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
                    </td>
                </tr>
                    }
                }
    </tbody>
    
</table>
