@model IEnumerable<EnGee.Models.SSJ_CProductWrap>
@*測試用*@
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="CartView">檢視購物車</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRemainingQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductUnitPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImagePath)
            </th>
          
            <th>配送方式</th> 
            <th>購買數量</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductRemainingQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductUnitPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImagePath)
            </td>
            @*<td>*@
                    @*@Html.ActionLink("加入購物車", "AddToCart", new { id=item.ProductId}) ;*@
            @*</td>*@
                <td>
                    <label><input type="radio" name="deliveryOption_@item.ProductId" value="宅配" checked> 宅配</label>
                        <label><input type="radio" name="deliveryOption_@item.ProductId" value="超商取貨"> 超商取貨</label>
                </td>
                <td>
                    <form asp-action="AddToCart" method="post">
                        <input type="hidden" name="txtProductId" value="@item.ProductId" />
                        <div class="form-group">數量</div>
                        <div class="col-md-10">
                            @Html.TextBox("txtCount", "1", new { @class = "form-control" })
                        </div>
                          <input type="hidden" name="deliveryOption" value="" class="deliveryOptionInput" />
                          <button type="submit">加入購物車</button>
                      </form>
            
                </td>
        </tr>
}
    </tbody>
</table>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var forms = document.querySelectorAll("form");

        forms.forEach(function(form) {
            form.addEventListener("submit", function(event) {
                var productId = event.target.querySelector("[name='txtProductId']").value;
                var selectedOption = document.querySelector("input[name='deliveryOption_" + productId + "']:checked").value;
                event.target.querySelector(".deliveryOptionInput").value = selectedOption;
            });
        });
    });
</script>
