@model prjEnGeeDemo.Models.NL_ProductModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.HeaderTitle = "修改商品";
}


<div class="d-flex justify-content-center">
    <h1>商品資料</h1>
</div>
<hr />
<div class="row">
    <div class=" d-flex justify-content-center">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ProductId" value="@Model.ProductId" />
            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <h2>商品照片</h2>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <img id="imagePreview" src="@Url.Content("~/images/product/" + Model.ProductImagePath)" alt="Product Image" class="img-fluid" style="max-width: 300px; max-height: 300px;">
                </div>
            </div>
            <div class="form-group mt-2 d-flex justify-content-center">
                    <input type="file" name="photo" />
                </div>                             
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control">
                    <option value="">請選擇品牌</option>
                    @foreach (var brandCategory in ViewBag.BrandCategories)
                    {
                        <option value="@brandCategory.BrandId">@brandCategory.BrandCategory</option>
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainCategoryId" class="control-label"></label>
                <select asp-for="MainCategoryId" class="form-control">
                    <option value="">請選擇彩妝品分類</option>
                    @foreach (var MainCategory in ViewBag.MainCategory)
                    {
                        <option value="@MainCategory.MainCategoryId">@MainCategory.MainCategory</option>
                    }
                </select>
                <span asp-validation-for="MainCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubcategoryId" class="control-label"></label>
                <select asp-for="SubcategoryId" class="form-control">
                    <option value="">請選擇彩妝品子分類</option>
                    @foreach (var subcategory in ViewBag.Subcategory)
                    {
                        <option value="@subcategory.SubcategoryId">@subcategory.Subcategory</option>
                    }
                </select>
                <span asp-validation-for="SubcategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescribe" class="control-label"></label>
                <input asp-for="ProductDescribe" class="form-control" />
                <span asp-validation-for="ProductDescribe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUnitPoint" class="control-label"></label>
                <input asp-for="ProductUnitPoint" class="form-control" type="number" min="0" />
                <span asp-validation-for="ProductUnitPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductRemainingQuantity" class="control-label"></label>
                <input asp-for="ProductRemainingQuantity" class="form-control" type="number" min="0" />
                <span asp-validation-for="ProductRemainingQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductExpirationDate" class="control-label"></label>
                <input asp-for="ProductExpirationDate" class="form-control" />
                <span asp-validation-for="ProductExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUsageStatus" class="control-label"></label>
                <input asp-for="ProductUsageStatus" class="form-control" />
                <span asp-validation-for="ProductUsageStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationStatus" class="control-label"></label>
                <select asp-for="DonationStatus" class="form-control">
                    <option value="0">非捐贈</option>
                    <option value="1">捐贈</option>
                </select>
                <span asp-validation-for="DonationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfSale" class="control-label"></label>
                <input asp-for="DateOfSale" class="form-control" />
                <span asp-validation-for="DateOfSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTypeId" class="control-label"></label>
                <select asp-for="DeliveryTypeId" class="form-control">
                    <option value="">請選擇運送方式</option>
                    @foreach (var deliveryType in ViewBag.TDeliveryType)
                    {
                        <option value="@deliveryType.DeliveryTypeId">@deliveryType.DeliveryType</option>
                    }
                </select>
                <span asp-validation-for="DeliveryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerId" class="control-label"></label>
                <input asp-for="SellerId" class="form-control" readonly />
                <span asp-validation-for="SellerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSaleStatus" class="control-label"></label>
                <select asp-for="ProductSaleStatus" class="form-control">
                    <option value="1">下架</option>
                    <option value="2">上架</option>
                    <option value="3">訂單成立</option>
                </select>
                <span asp-validation-for="ProductSaleStatus" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-success">修改</button>
                <button type="button" class="btn btn-danger ms-5" onclick="location.href='@Url.Action("List")'">取消</button>
            </div>           
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            var fileInput = this;
            var imagePreview = document.getElementById('imagePreview');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        });
    </script>
}
