@model IEnumerable<prjEnGeeDemo.Models.NL_ProductModel>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "List";
    ViewBag.HeaderTitle = "商品管理";   
}
<style>
    .swal2-popup.swal2-modal {
        font-size: 12pt;
    }

    .swal2-modal .swal2-title {
        font-size: 1.4em;
    }
    
    .pagination .page-item.active .page-link {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .pagination .page-item:not(.disabled) .page-link:hover {
        background-color: #74b4f4;
        border-color: #74b4f4;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<div class="container">
<br />
<div class="d-flex justify-content-end">
    @using (Html.BeginForm("List", "NL_AD_Product", FormMethod.Post))
    {
        <div class="d-flex align-items-center">
            <span class="mr-2">搜尋條件：</span>
            <select id="searchBy" name="searchBy">
                <option value="" disabled selected>請選擇</option>
                <option value="Name">名稱</option>
                <option value="Point">點數</option>
                <option value="SellerId">賣家ID</option>
                <option value="BrandId">品牌</option>
                <option value="MainCategoryId">彩妝主分類</option>
                <option value="DeliveryTypeId">運送方式</option>
                <option value="DonationStatus">捐贈</option>
                <option value="ProductSaleStatus">銷售狀況</option>
            </select>

            <div style="margin-right: 10px;"></div>


            <div id="searchValue" style="display: none;">
                @Html.TextBox("txtKeyword", null, new { name = "txtKeyword" })
            </div>
            <div id="BrandIdDropdown" style="display: none;">
                <select name="BrandId">
                    <option value="" disabled selected>請選擇</option>
                    @foreach (var item in ViewBag.BrandId as SelectList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div id="MainCategoryIdDropdown" style="display: none;">
                <select name="MainCategoryId">
                    <option value="" disabled selected>請選擇</option>
                    @foreach (var item in ViewBag.MainCategoryId as SelectList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div id="DeliveryTypeIdDropdown" style="display: none;">
                <select name="DeliveryTypeId">
                    <option value="" disabled selected>請選擇</option>
                    @foreach (var item in ViewBag.DeliveryTypeId as SelectList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div id="DonationStatusDropdown" style="display: none;">
                <select name="DonationStatus">
                    <option value="" disabled selected>請選擇</option>
                    <option value="0">非捐贈</option>
                    <option value="1">捐贈</option>
                </select>
            </div>

            <div id="ProductSaleStatusDropdown" style="display: none;">
                <select name="ProductSaleStatus">
                    <option value="" disabled selected>請選擇</option>
                    <option value="1">下架</option>
                    <option value="2">上架</option>
                    <option value="3">訂單成立</option>
                </select>
            </div>

            <div style="margin-right: 10px;"></div>

                <input type="submit" class="btn btn-info" value="查詢" />
        </div>
    }
</div>

    <table class="table table-secondary table-striped mt-2" style=" font-size: 14px;">
    <thead>
        <tr>
            <th style="white-space: nowrap;text-align: center;">
                序號
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.BrandId)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.MainCategoryId)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.SubcategoryId)
            </th>
            @*  <th style="white-space: nowrap;text-align: center;">
            @Html.DisplayNameFor(model => model.ProductDescribe)
            </th> *@
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductUnitPoint)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductRemainingQuantity)
            </th>
            @* <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductExpirationDate)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductUsageStatus)
            </th> *@
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.DonationStatus)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.DateOfSale)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.DeliveryTypeId)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.SellerId)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductSaleStatus)
            </th>
                <th style="white-space: nowrap; text-align: right;">
                    共有 @ViewBag.totalProducts 筆資料
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int startIndex = (ViewBag.PageIndex - 1) * ViewBag.PageSize;
            int index = startIndex + 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center;">
                        @index
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Brand.BrandCategory)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.MainCategory.MainCategory)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Subcategory.Subcategory)
                    </td>
                    @* <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.ProductDescribe)
            </td> *@
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ProductUnitPoint)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ProductRemainingQuantity)
                    </td>
                    @*<td style="text-align: center;">
                        @if (item.ProductExpirationDate != null)
                        {
                            @item.ProductExpirationDate.ToString("yyyy-MM-dd")
                        }
                </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ProductUsageStatus)
                </td>*@
                    <td style="text-align: center;">
                        @if (item.DonationStatus == 1)
                        {
                            <span>是</span>
                        }
                        else if (item.DonationStatus == 0)
                        {
                            <span>否</span>
                        }
                        else
                        {
                            <span>未知</span>
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (item.DateOfSale != null)
                        {
                            @item.DateOfSale.ToString("yyyy-MM-dd")
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (item.DeliveryTypeId == 1)
                        {
                            <span>宅配</span>
                        }
                        else if (item.DeliveryTypeId == 2)
                        {
                            <span>超商取貨</span>
                        }
                        else if (item.DeliveryTypeId == 3)
                        {
                            <span>皆可</span>
                        }
                        else
                        {
                            <span>未知</span>
                        }
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.SellerId)
                    </td>
                    <td style="text-align: center;">
                        @if (item.ProductSaleStatus == 1)
                        {
                            <span>下架</span>
                        }
                        else if (item.ProductSaleStatus == 2)
                        {
                            <span>上架</span>
                        }
                        else if (item.ProductSaleStatus == 3)
                        {
                            <span>訂單成立</span>
                        }
                        else
                        {
                            <span>未知</span>
                        }
                    </td>
                    <td style="text-align: center;">
                        <button class="btn btn-sm btn-info show-details" data-target="#productDetailsModal_@item.ProductId" data-toggle="modal">
                            詳細資料
                        </button>
                        @Html.ActionLink("修改", "Edit", new { id = item.ProductId }, new { @class = "btn btn-sm btn-success ms-4", @style = "white-space: nowrap;" })
                        <a href="#" class="btn btn-sm btn-danger ms-4" style="white-space: nowrap;" onclick="confirmDelete(@item.ProductId);">刪除</a>
                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>

    @foreach (var item in Model)
    {
        <!-- 商品詳細資料框 -->
        <div class="modal fade" id="productDetailsModal_@item.ProductId" tabindex="-1" role="dialog" aria-labelledby="productDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productDetailsModalLabel">商品詳細資料</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 商品詳細資料内容 -->

                        <h4>@item.ProductName</h4>
                        <div class="col-12 d-flex justify-content-center">
                            <img id="imagePreview" src="@Url.Content("~/images/ProductImages/" + @item.ProductImagePath)" alt="Product Image" class="img-fluid img-thumbnail" style="max-width: 300px; max-height: 300px;">
                        </div>
                        <p>
                            品牌: @Html.DisplayFor(modelItem => item.Brand.BrandCategory)
                        </p>
                        <p>
                            彩妝品分類: @Html.DisplayFor(modelItem => item.MainCategory.MainCategory)
                        </p>
                        <p>
                            子分類: @Html.DisplayFor(modelItem => item.Subcategory.Subcategory)
                        </p>
                        <p>點數: @item.ProductUnitPoint</p>
                        <p>
                            數量: @Html.DisplayFor(modelItem => item.ProductRemainingQuantity)
                        </p>
                        <p>
                            有效期限: @item.ProductExpirationDate.ToString("yyyy-MM-dd")
                        </p>
                        <p>
                            使用狀態: @Html.DisplayFor(modelItem => item.ProductUsageStatus)
                        </p>
                        <p>產品敘述: @item.ProductDescribe</p>
                        <p>
                            是否為捐贈:
                            @if (item.DonationStatus == 1)
                            {
                                <span>是</span>
                            }
                            else if (item.DonationStatus == 0)
                            {
                                <span>否</span>
                            }
                            else
                            {
                                <span>未知</span>
                            }
                        </p>
                        <p>
                            銷售日期:
                            @item.DateOfSale.ToString("yyyy-MM-dd")
                        </p>
                        <p>
                            運送方式:
                            @if (item.DeliveryTypeId == 1)
                            {
                                <span>宅配</span>
                            }
                            else if (item.DeliveryTypeId == 2)
                            {
                                <span>超商取貨</span>
                            }
                            else if (item.DeliveryTypeId == 3)
                            {
                                <span>皆可</span>
                            }
                            else
                            {
                                <span>未知</span>
                            }
                        </p>
                        <p>
                            賣家ID:@item.SellerId
                        </p>
                        <p>
                            銷售狀態:
                            @if (item.ProductSaleStatus == 1)
                            {
                                <span>下架</span>
                            }
                            else if (item.ProductSaleStatus == 2)
                            {
                                <span>上架</span>
                            }
                            else if (item.ProductSaleStatus == 3)
                            {
                                <span>訂單成立</span>
                            }
                            else
                            {
                                <span>未知</span>
                            }
                        </p>
                        <!-- 其他商品詳細資料 -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmButton">確認</button>
                    </div>
                </div>
            </div>
        </div>
    }

<div class="pagination d-flex justify-content-center">
    <ul class="pagination">
        @if (Model.Any())
        {
            <li class="page-item @(ViewBag.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="List" asp-route-page="1" asp-route-searchBy="@ViewBag.SearchBy" asp-route-txtKeyword="@ViewBag.Keyword">第一頁</a>
            </li>
            <li class="page-item @(ViewBag.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="List" asp-route-page="@(ViewBag.PageIndex - 1)" asp-route-searchBy="@ViewBag.SearchBy" asp-route-txtKeyword="@ViewBag.Keyword">上一頁</a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.PageIndex == i ? "active" : "")">
                    <a class="page-link" asp-action="List" asp-route-page="@i" asp-route-searchBy="@ViewBag.SearchBy" asp-route-txtKeyword="@ViewBag.Keyword">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.PageIndex == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-action="List" asp-route-page="@(ViewBag.PageIndex + 1)" asp-route-searchBy="@ViewBag.SearchBy" asp-route-txtKeyword="@ViewBag.Keyword">下一頁</a>
            </li>
            <li class="page-item @(ViewBag.PageIndex == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-action="List" asp-route-page="@ViewBag.TotalPages" asp-route-searchBy="@ViewBag.SearchBy" asp-route-txtKeyword="@ViewBag.Keyword">最後一頁</a>
            </li>
        }
    </ul>
</div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.show-details').click(function () {
                var modalId = $(this).data('target');
                $(modalId).modal('show');
            });
        });

        $(document).on('click', '.modal .close', function () {
            $(this).closest('.modal').modal('hide');
        });

        $(document).on('click', '#confirmButton', function () {
            var modalId = $(this).closest('.modal');
            modalId.modal('hide');
        });

        var controllerUrl = "@Url.Action("List", "NL_AD_Product")";

        $(document).ready(function () {           

            $("#searchBy").change(function () {
                updateSearchFields();
            });

            $("#searchForm").submit(function (e) {
                e.preventDefault();

                var searchBy = $("#searchBy").val();
                var keyword = $("#txtKeyword").val();
                var url = "@Url.Action("List", "NL_AD_Product")?searchBy=" + searchBy + "&txtKeyword=" + keyword + "&page=1";


                $.get(url, function (result) {
                    $("#productListContainer").html(result);
                });
            });


            function updateSearchFields() {
                var selectedValue = $("#searchBy").val();
                if (selectedValue === "Name" || selectedValue === "Point" || selectedValue === "SellerId") {
                    $("#searchValue").show();
                    $("#BrandIdDropdown").hide();
                    $("#MainCategoryIdDropdown").hide();
                    $("#DeliveryTypeIdDropdown").hide();
                    $("#DonationStatusDropdown").hide();
                    $("#ProductSaleStatusDropdown").hide();
                } else if (selectedValue === "BrandId") {
                    $("#searchValue").hide();
                    $("#BrandIdDropdown").show();
                    $("#MainCategoryIdDropdown").hide();
                    $("#DeliveryTypeIdDropdown").hide();
                    $("#DonationStatusDropdown").hide();
                    $("#ProductSaleStatusDropdown").hide();
                } else if (selectedValue === "MainCategoryId") {
                    $("#searchValue").hide();
                    $("#BrandIdDropdown").hide();
                    $("#MainCategoryIdDropdown").show();
                    $("#DeliveryTypeIdDropdown").hide();
                    $("#DonationStatusDropdown").hide();
                    $("#ProductSaleStatusDropdown").hide();
                } else if (selectedValue === "DeliveryTypeId") {
                    $("#searchValue").hide();
                    $("#BrandIdDropdown").hide();
                    $("#MainCategoryIdDropdown").hide();
                    $("#DeliveryTypeIdDropdown").show();
                    $("#DonationStatusDropdown").hide();
                    $("#ProductSaleStatusDropdown").hide();
                } else if (selectedValue === "DonationStatus") {
                    $("#searchValue").hide();
                    $("#BrandIdDropdown").hide();
                    $("#MainCategoryIdDropdown").hide();
                    $("#DeliveryTypeIdDropdown").hide();
                    $("#DonationStatusDropdown").show();
                    $("#ProductSaleStatusDropdown").hide();
                } else if (selectedValue === "ProductSaleStatus") {
                    $("#searchValue").hide();
                    $("#BrandIdDropdown").hide();
                    $("#MainCategoryIdDropdown").hide();
                    $("#DeliveryTypeIdDropdown").hide();
                    $("#DonationStatusDropdown").hide();
                    $("#ProductSaleStatusDropdown").show();
                } else {
                    $("#searchValue").hide();
                    $("#BrandIdDropdown").hide();
                    $("#MainCategoryIdDropdown").hide();
                    $("#DeliveryTypeIdDropdown").hide();
                    $("#DonationStatusDropdown").hide();
                    $("#ProductSaleStatusDropdown").hide();
                }
            }

            $("#BrandIdDropdown select").change(function () {
                var selectedValue = $(this).val();
                $("#txtKeyword").val(selectedValue);
            });

            $("#MainCategoryIdDropdown select").change(function () {
                var selectedValue = $(this).val();
                $("#txtKeyword").val(selectedValue);
            });

            $("#DeliveryTypeIdDropdown select").change(function () {
                var selectedValue = $(this).val();
                $("#txtKeyword").val(selectedValue);
            });

            $("#DonationStatusDropdown select").change(function () {
                var selectedValue = $(this).val();
                $("#txtKeyword").val(selectedValue);
            });

            $("#ProductSaleStatusDropdown select").change(function () {
                var selectedValue = $(this).val();
                $("#txtKeyword").val(selectedValue);
            });

        });

        function confirmDelete(productId) {          

            Swal.fire({ 
                title: '確定要刪除嗎?', 
                text: "刪除後將無法撤銷!", 
                type: 'warning', 
                showCancelButton: true, 
                confirmButtonColor: '#3085d6', 
                cancelButtonColor: '#d33', 
                confirmButtonText: '確定', 
                cancelButtonText: '取消' }).then((result) => { 
                    if (result.value) {                        
                    Swal.fire({ type: 'success', title: '刪除成功!', text: '商品已刪除', showConfirmButton: false })
                    var deleteUrl = '@Url.Action("Delete", "NL_AD_Product")' + '?id=' + productId;
                    window.location.href = deleteUrl;
                    } 
                })            
        }
    </script>
}