@model prjEnGeeDemo.Models.NL_ProductModel

@{
    ViewData["Title"] = "Add";
    ViewBag.HeaderTitle = "商品上架 - 二手商品上架";
}
<br />
<div class="row">
    <div class="col-lg-3">
        <button class="btn shadow-none d-flex align-items-center justify-content-between bg-danger text-white w-100" data-bs-toggle="collapse" data-bs-target="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
            <h6 class="m-0">商品上架表單類別</h6>
            <i class="fa fa-angle-down text-dark"></i>
        </button>
        <nav class="collapse navbar-vertical navbar-light align-items-center p-0  border border-top-0 border-bottom-3 bg-light" id="navbar-vertical">
            <div class="navbar-nav w-100 overflow-hidden" style="height: auto; transition: max-height 0.3s ease;">
                <a asp-action="Add" class="nav-item nav-link">二手商品上架</a>
                <a asp-action="AddOne" class="nav-item nav-link">一點捐贈</a>
            </div>
        </nav>
    </div>
    <div class="col-lg-7 d-flex justify-content-center">
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>預覽圖：</label>
                <img id="imagePreview" src="#" alt="預覽圖" style="max-width: 300px; max-height: 300px; display: none; margin: auto;" class="img-thumbnail">
            </div>
            <div class="form-group">
                <label asp-for="ProductImagePath" class="control-label"></label>
                <input asp-for="ProductImagePath" type="file" name="photo" class="form-control" accept="image/*">
                <span asp-validation-for="ProductImagePath" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control">
                    <option value="">請選擇品牌</option>
                    @foreach (var brandCategory in ViewBag.BrandCategories)
                    {
                        <option value="@brandCategory.BrandId">@brandCategory.BrandCategory</option>
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainCategoryId" class="control-label"></label>
                <select asp-for="MainCategoryId" class="form-control">
                    <option value="">請選擇彩妝品分類</option>
                    @foreach (var MainCategory in ViewBag.MainCategory)
                    {
                        <option value="@MainCategory.MainCategoryId">@MainCategory.MainCategory</option>
                    }
                </select>
                <span asp-validation-for="MainCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubcategoryId" class="control-label"></label>
                <select asp-for="SubcategoryId" class="form-control">
                    <option value="">請選擇彩妝品子分類</option>
                    @foreach (var subcategory in ViewBag.Subcategory)
                    {
                        <option value="@subcategory.SubcategoryId">@subcategory.Subcategory</option>
                    }
                </select>
                <span asp-validation-for="SubcategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescribe" class="control-label"></label>
                <input asp-for="ProductDescribe" class="form-control" />
                <span asp-validation-for="ProductDescribe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUnitPoint" class="control-label"></label>
                <input asp-for="ProductUnitPoint" class="form-control" type="number" min="0" />
                <span asp-validation-for="ProductUnitPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductRemainingQuantity" class="control-label"></label>
                <input asp-for="ProductRemainingQuantity" class="form-control" type="number" min="0" />
                <span asp-validation-for="ProductRemainingQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductExpirationDate" class="control-label"></label>
                <input asp-for="ProductExpirationDate" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="ProductExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUsageStatus" class="control-label"></label>
                <input asp-for="ProductUsageStatus" class="form-control" />
                <span asp-validation-for="ProductUsageStatus" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="DonationStatus" class="control-label"></label>
                <input asp-for="DonationStatus" class="form-control" type="hidden" value="0" />
                <span asp-validation-for="DonationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfSale" class="control-label"></label>
                <input asp-for="DateOfSale" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="DateOfSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTypeId" class="control-label">請選擇運送方式</label>
                <div>
                    @foreach (var deliveryType in ViewBag.TDeliveryType)
                    {
                        <label class="radio-inline">
                            <input type="radio" asp-for="DeliveryTypeId" value="@deliveryType.DeliveryTypeId">
                            @deliveryType.DeliveryType
                        </label>
                    }
                </div>
                <span asp-validation-for="DeliveryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="SellerId" class="control-label"></label>
                <input asp-for="SellerId" class="form-control" type="hidden" value="@ViewBag.userId" />
                <span asp-validation-for="SellerId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="ProductSaleStatus" class="control-label"></label>
                <input asp-for="ProductSaleStatus" class="form-control" type="hidden" value="2" />
                <span asp-validation-for="ProductSaleStatus" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 d-flex justify-content-center">
                <button type="button" class="btn btn-primary me-5" onclick="location.href='@Url.Action("Index")'">返回</button>
                <input type="submit" value="上架" class="btn btn-success ms-5 me-5" />
                <input type="reset" value="取消" class="btn btn-danger ms-5" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            var fileInput = this;
            var imagePreview = document.getElementById('imagePreview');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        });
    </script>
}
