@model prjEnGeeDemo.Models.NL_ProductModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.HeaderTitle = "修改商品";
}
<style>
    .swal2-popup.swal2-modal {
        font-size: 12pt;
    }

    .swal2-modal .swal2-title {
        font-size: 1.4em;
    }

    .error {
        border: 1px solid red;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<div class="container">
<div class="d-flex justify-content-center">
    <h1>商品資料</h1>
</div>
<hr />
<div class="row">
    <div class=" d-flex justify-content-center">
        <form id="productForm" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ProductId" value="@Model.ProductId" />
            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <h2>商品照片</h2>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <img id="imagePreview" src="@Url.Content("~/images/ProductImages/" + Model.ProductImagePath)" alt="Product Image" class="img-fluid img-thumbnail" style="max-width: 300px; max-height: 300px;">
                </div>
            </div>
            <div class="form-group mt-2 d-flex justify-content-center">
                <input type="file" name="photo" />
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control">
                    <option value="">請選擇品牌</option>
                    @foreach (var brandCategory in ViewBag.BrandCategories)
                    {
                        <option value="@brandCategory.BrandId">@brandCategory.BrandCategory</option>
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainCategoryId" class="control-label"></label>
                <select asp-for="MainCategoryId" class="form-control">
                    <option value="">請選擇彩妝品分類</option>
                    @foreach (var MainCategory in ViewBag.MainCategory)
                    {
                        <option value="@MainCategory.MainCategoryId">@MainCategory.MainCategory</option>
                    }
                </select>
                <span asp-validation-for="MainCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubcategoryId" class="control-label"></label>
                <select asp-for="SubcategoryId" class="form-control">
                    <option value="">請選擇彩妝品子分類</option>
                    @foreach (var subcategory in ViewBag.Subcategory)
                    {
                        <option value="@subcategory.SubcategoryId">@subcategory.Subcategory</option>
                    }
                </select>
                <span asp-validation-for="SubcategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescribe" class="control-label"></label>
                <input asp-for="ProductDescribe" class="form-control" />
                <span asp-validation-for="ProductDescribe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUnitPoint" class="control-label"></label>
                <input asp-for="ProductUnitPoint" class="form-control" type="number" min="0" />
                <span asp-validation-for="ProductUnitPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductRemainingQuantity" class="control-label"></label>
                <input asp-for="ProductRemainingQuantity" class="form-control" type="number" min="0" />
                <span asp-validation-for="ProductRemainingQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductExpirationDate" class="control-label"></label>
                <input asp-for="ProductExpirationDate" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="ProductExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUsageStatus" class="control-label"></label>
                <input asp-for="ProductUsageStatus" class="form-control" />
                <span asp-validation-for="ProductUsageStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationStatus" class="control-label">捐贈狀態</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" asp-for="DonationStatus" value="0"> 非捐贈
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="DonationStatus" value="1"> 捐贈
                    </label>
                </div>
                <span asp-validation-for="DonationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfSale" class="control-label"></label>
                <input asp-for="DateOfSale" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="DateOfSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTypeId" class="control-label">請選擇運送方式</label>
                <div>
                    @foreach (var deliveryType in ViewBag.TDeliveryType)
                    {
                        <label class="radio-inline">
                            <input type="radio" asp-for="DeliveryTypeId" value="@deliveryType.DeliveryTypeId">
                            @deliveryType.DeliveryType
                        </label>
                    }
                </div>
                <span asp-validation-for="DeliveryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;>
                <label asp-for="SellerId" class="control-label"></label>
                    <input asp-for="SellerId" class="form-control" readonly />
                <span asp-validation-for="SellerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSaleStatus" class="control-label">產品狀態</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" asp-for="ProductSaleStatus" value="1"> 下架
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="ProductSaleStatus" value="2"> 上架
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="ProductSaleStatus" value="3"> 訂單成立
                    </label>
                </div>
                <span asp-validation-for="ProductSaleStatus" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center mt-3">                
                <button type="button" class="btn btn-success" id="submitBtn">修改</button>
                <button type="button" class="btn btn-danger ms-5" onclick="location.href='@Url.Action("List")'">取消</button>
            </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            var fileInput = this;
            var imagePreview = document.getElementById('imagePreview');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        });
      
        document.getElementById('submitBtn').addEventListener('click', function () {
            var productName = document.getElementById('ProductName');
            var brandId = document.getElementById('BrandId');
            var mainCategoryId = document.getElementById('MainCategoryId');
            var subcategoryId = document.getElementById('SubcategoryId');
            var productDescribe = document.getElementById('ProductDescribe');
            var productUnitPoint = document.getElementById('ProductUnitPoint');
            var productRemainingQuantity = document.getElementById('ProductRemainingQuantity');
            var productExpirationDate = document.getElementById('ProductExpirationDate');
            var productUsageStatus = document.getElementById('ProductUsageStatus');
            var dateOfSale = document.getElementById('DateOfSale');
            var deliveryTypeId = document.querySelector('input[name="DeliveryTypeId"]:checked');

            var isValid = true;

            if (productName.value === "") {
                productName.classList.add('error');
                isValid = false;
            } else {
                productName.classList.remove('error');
            }

            if (brandId.value === "") {
                brandId.classList.add('error');
                isValid = false;
            } else {
                brandId.classList.remove('error');
            }

            if (mainCategoryId.value === "") {
                mainCategoryId.classList.add('error');
                isValid = false;
            } else {
                mainCategoryId.classList.remove('error');
            }

            if (subcategoryId.value === "") {
                subcategoryId.classList.add('error');
                isValid = false;
            } else {
                subcategoryId.classList.remove('error');
            }

            if (productDescribe.value === "") {
                productDescribe.classList.add('error');
                isValid = false;
            } else {
                productDescribe.classList.remove('error');
            }

            if (productUnitPoint.value === "") {
                productUnitPoint.classList.add('error');
                isValid = false;
            } else {
                productUnitPoint.classList.remove('error');
            }

            if (productRemainingQuantity.value === "") {
                productRemainingQuantity.classList.add('error');
                isValid = false;
            } else {
                productRemainingQuantity.classList.remove('error');
            }

            if (productExpirationDate.value === "") {
                productExpirationDate.classList.add('error');
                isValid = false;
            } else {
                productExpirationDate.classList.remove('error');
            }

            if (productUsageStatus.value === "") {
                productUsageStatus.classList.add('error');
                isValid = false;
            } else {
                productUsageStatus.classList.remove('error');
            }

            if (dateOfSale.value === "") {
                dateOfSale.classList.add('error');
                isValid = false;
            } else {
                dateOfSale.classList.remove('error');
            }

            if (!deliveryTypeId) {
                var deliveryTypeRadio = document.getElementsByName('DeliveryTypeId');
                for (var i = 0; i < deliveryTypeRadio.length; i++) {
                    deliveryTypeRadio[i].classList.add('error');
                }
                isValid = false;
            } else {
                var deliveryTypeRadio = document.getElementsByName('DeliveryTypeId');
                for (var i = 0; i < deliveryTypeRadio.length; i++) {
                    deliveryTypeRadio[i].classList.remove('error');
                }
            }

            if (productName === "" || brandId === "" || mainCategoryId === "" || subcategoryId === "" ||
                productDescribe === "" || productUnitPoint === "" || productRemainingQuantity === "" ||
                productExpirationDate === "" || productUsageStatus === "" || dateOfSale === "" || !deliveryTypeId) {
                Swal.fire('錯誤', '請填寫所有必填欄位', 'error');
            } else {
                Swal.fire({ type: 'success', title: '修改成功!', text: '商品資料已修改', showConfirmButton: false })
                document.getElementById('productForm').submit();
            }
        });

        $(document).ready(function () {
            $("#MainCategoryId").change(function () {
                var mainCategoryId = $(this).val();

                $.ajax({
                    url: "/NL_Product/GetSubcategories",
                    type: "GET",
                    data: { mainCategoryId: mainCategoryId },
                    success: function (data) {
                        $("#SubcategoryId").empty();
                        $("#SubcategoryId").append($('<option>', {
                            value: '',
                            text: '請選擇',
                            disabled: true,
                            selected: true
                        }));

                        $.each(data, function (key, value) {
                            $("#SubcategoryId").append($('<option>', {
                                value: key,
                                text: value
                            }));
                        });
                    }
                });
            });
        });
    </script>
}
