@model IEnumerable<prjEnGeeDemo.Models.NL_ProductModel>

@{
    ViewData["Title"] = "List";
    ViewBag.HeaderTitle = "商品管理";
}

<br />
<div class="d-flex justify-content-end">
    @using (Html.BeginForm("List", "NL_Product", FormMethod.Post))
    {
        @:名稱
        @Html.TextBox("txtKeyword")
        <input type="submit" class="btn btn-primary" value="查詢" />
    }
</div>

<table class="table table-danger table-striped" style=" font-size: 14px;">
    <thead>
        <tr>
            <th style="white-space: nowrap;text-align: center;">
                序號
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.BrandId)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.MainCategoryId)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.SubcategoryId)
            </th>
            @*  <th style="white-space: nowrap;text-align: center;">
            @Html.DisplayNameFor(model => model.ProductDescribe)
            </th> *@
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductUnitPoint)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductRemainingQuantity)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductExpirationDate)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductUsageStatus)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.DonationStatus)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.DateOfSale)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.DeliveryTypeId)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.SellerId)
            </th>
            <th style="white-space: nowrap;text-align: center;">
                @Html.DisplayNameFor(model => model.ProductSaleStatus)
            </th>
            <th style="white-space: nowrap;">

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int startIndex = (ViewBag.PageIndex - 1) * ViewBag.PageSize;
            int index = startIndex + 1;
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center;">
                        @index
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Brand.BrandCategory)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.MainCategory.MainCategory)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Subcategory.Subcategory)
                    </td>
                    @* <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.ProductDescribe)
            </td> *@
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ProductUnitPoint)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ProductRemainingQuantity)
                    </td>
                    <td style="text-align: center;">
                        @if (item.ProductExpirationDate != null)
                        {
                            @item.ProductExpirationDate.ToString("yyyy-MM-dd")
                        }
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.ProductUsageStatus)
                    </td>
                    <td style="text-align: center;">
                        @if (item.DonationStatus == 1)
                        {
                            <span>是</span>
                        }
                        else if (item.DonationStatus == 0)
                        {
                            <span>否</span>
                        }
                        else
                        {
                            <span>未知</span>
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (item.DateOfSale != null)
                        {
                            @item.DateOfSale.ToString("yyyy-MM-dd")
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (item.DeliveryTypeId == 1)
                        {
                            <span>宅配</span>
                        }
                        else if (item.DeliveryTypeId == 2)
                        {
                            <span>超商取貨</span>
                        }
                        else if (item.DeliveryTypeId == 3)
                        {
                            <span>皆可</span>
                        }
                        else
                        {
                            <span>未知</span>
                        }
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.SellerId)
                    </td>
                    <td style="text-align: center;">
                        @if (item.ProductSaleStatus == 1)
                        {
                            <span>下架</span>
                        }
                        else if (item.ProductSaleStatus == 2)
                        {
                            <span>上架</span>
                        }
                        else if (item.ProductSaleStatus == 3)
                        {
                            <span>訂單成立</span>
                        }
                        else
                        {
                            <span>未知</span>
                        }
                    </td>
                    <td style="text-align: center;">

                        @Html.ActionLink("修改", "Edit", new { id=item.ProductId }, new { @class = "btn btn-sm btn-success me-2", @style="white-space: nowrap;" })
                        @Html.ActionLink("刪除", "Delete", "Product", new { id=item.ProductId }, new { @class = "btn btn-sm btn-danger ms-2", @style="white-space: nowrap;", onclick = "return confirm(`確定要刪除嗎?`)" })

                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>
<div class="pagination d-flex justify-content-center">
    <ul class="pagination">
        @if (Model.Any())
        {
            <li class="page-item @(ViewBag.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="List" asp-route-page="1" asp-route-txtKeyword="@ViewBag.Keyword">第一頁</a>
            </li>
            <li class="page-item @(ViewBag.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="List" asp-route-page="@(ViewBag.PageIndex - 1)" asp-route-txtKeyword="@ViewBag.Keyword">上一頁</a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.PageIndex == i ? "active" : "")">
                    <a class="page-link" asp-action="List" asp-route-page="@i" asp-route-txtKeyword="@ViewBag.Keyword">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.PageIndex == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-action="List" asp-route-page="@(ViewBag.PageIndex + 1)" asp-route-txtKeyword="@ViewBag.Keyword">下一頁</a>
            </li>
            <li class="page-item @(ViewBag.PageIndex == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-action="List" asp-route-page="@ViewBag.TotalPages" asp-route-txtKeyword="@ViewBag.Keyword">最後一頁</a>
            </li>
        }
    </ul>
</div>