<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>@ViewBag.Title</title>
   <link rel="stylesheet" href="@Url.Content("~/css/FrameStyle.css")">

</head>
<body>
    <nav class="navbar navbar-expand-md sticky-top">
        <div class="container-md d-flex justify-content-between align-items-center ">
            <a href="#">
                <img class="logo-size " src="~/images/bigframe/logo01.png" alt="logo">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown nav-item-1">
                        <a href="#1" class="nav-link  dropdown-toggle">關於我們</a>
                    </li>
                    <li class="nav-item dropdown nav-item-1">
                        <a href="#2" class="nav-link dropdown-toggle">美妝討論</a>

                    </li>

                    <li class="nav-item dropdown nav-item-1">
                        <a href="#3" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown">捐贈專區</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">1點贈送</a></li>

                            <li><a href="#" class="dropdown-item">許願池</a></li>
                        </ul>

                    </li>

                    <li class="nav-item dropdown nav-item-1">
                        <a href="#4" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown">買賣專區</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Product")" class="dropdown-item">買賣專區</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown nav-item-1">
                        <a href="#5" class="nav-link dropdown-toggle">會員專區</a>
                    </li>

                </ul>
            </div>
            <div class="d-flex align-items-center">
                <div class="d-flex justify-content-end me-2 align-content-center ">
                    <a href="#">
                        <i class=" me-3 mt-3 fa-solid fa-circle-user fa-xl " style="color: #e54862ca;"></i>
                        <!-- <img class="rounded-circle h-30px me-3" src="https://randomuser.me/api/portraits/men/88.jpg" alt="user">    -->
                    </a>
                    <button class="btn btn-s" type="submit">
                        註冊
                    </button>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
        </div>
    </nav>
    <header>
        <div class="headerimg">
            <div class="overlay">
                <div class="d-flex align-items-center justify-content-center text-white fz-size32px"
                     style="height: 100%">
                        @ViewBag.HeaderTitle
                </div>
            </div>
        </div>
    </header>


    <main>
        @RenderBody()
    </main>


    <footer class="bg-color1">
        <div class="h-64px d-flex align-items-center justify-content-center">
            © Engee CO.,LTD All rights reserved.
        </div>
    </footer>
    <script src="@Url.Content("~/js/bootstrap.bundle.min.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

