@model EnGee.ViewModels.Rong_CollectInfomationViewModel

@{
    ViewBag.HeaderTitle = "許願";
}

<div class="container pb-5">
    <div class="row">
        <div class="col-md-5 mt-5">
            <div class="row mb-5" style="height:300px;">
                <img name="CollectImagePath" class="border-3" src="~/images/donation/@Html.DisplayFor(model =>model.CollectImagePath)" style=" height: 100%; object-fit: contain"; />
            </div>
            <div class="row">
                <ul class="list-unstyled">
                    <li>
                        <div class="pb-1 collapsed d-flex justify-content-between h5 fz-color2 border-bottom fw-bold">
                            提供之寄送方式@* <i class="fa-solid fa-chevron-down down-arrow ms-5"></i> *@
                        </div>
                    </li>
                    @if (Model.DeliveryTypeId == 1)
                    {
                        <li name="DeliveryType" class="d-flex justify-content-between m-1 fz-color2">
                            @Html.DisplayFor(model => model.DeliveryType)（150點）
                        </li>
                        <li name="DeliveryType" class="d-flex justify-content-between m-1 fz-color2">
                            寄件地址：@Html.DisplayFor(model => model.DeliveryAddress)
                        </li>
                    }
                    else if (Model.DeliveryTypeId == 2)
                    {
                        <li name="DeliveryType" class="d-flex justify-content-between m-1 fz-color2">
                            @Html.DisplayFor(model => model.DeliveryType)（60點）
                        </li>
                        <li name="DeliveryType" class="d-flex justify-content-between m-1 fz-color2">
                            7-11超商店號：@Html.DisplayFor(model => model.ConvenienNum)
                        </li>
                    }
                    else if (Model.DeliveryTypeId == 3)
                    {
                        <li name="DeliveryType" class="d-flex justify-content-between m-1 fz-color2">
                            宅配（150點）
                        </li>
                        <li name="DeliveryType" class="d-flex justify-content-between m-1 fz-color2">
                            寄件地址：@Html.DisplayFor(model => model.DeliveryAddress)
                        </li>
                        <li name="DeliveryType" class="d-flex justify-content-between m-1 fz-color2">
                            超商（60點）
                        </li>
                        <li name="DeliveryType" class="d-flex justify-content-between m-1 fz-color2">
                            7-11超商店號：@Html.DisplayFor(model => model.ConvenienNum)
                        </li>
                    }
                </ul>
            </div>
            
        </div>
        <div class="col-md-7 mt-5 ps-5">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-auto">
                    <h3 class="my-2 fw-bold fz-color1">@Html.DisplayFor(model => model.CollectTitle)</h3>
                </div>
                @* <div class="col-auto text-muted" name="CollectId" id="CollectId">
                    No. @Html.DisplayFor(model=> model.CollectId)
                </div> *@
            </div>
            <div class="row d-flex justify-content-end">
                <a href="#使用者頁面" class="text-decoration-none fz-color2">
                    發布者：@Html.DisplayFor(model => model.Nickname)
                </a>
            </div>
            <div class="row g-1 d-flex align-items-center justify-content-end border-bottom pb-2">
                <div class="col-auto fz-color2">
                     募集時間：
                </div>
                <div class="col-auto fz-color2">
                    @Html.DisplayFor(model => model.CollectStartDate)
                </div>
                <div class="col-auto">
                    <span class="fz-color2">–</span>
                </div>
                <div class="col-auto fz-color2">
                    @Html.DisplayFor(model => model.CollectEndDate)
                </div>
            </div>
            <div class="row pt-5">
                <h5 class="fz-color2 fw-bold"><i class="fa-solid fa-seedling me-1 "></i>募集需求描述</h5>
                <div>
                    <p class="p-caption fz-color1 px-4 pt-2">
                        @Html.DisplayFor(model => model.CollectCaption)
                    </p>
                </div>
                
            </div>
            <div class="row mt-5">
                <h5 class="fz-color2 fw-bold"><i class="fa-solid fa-seedling me-1 "></i>需求品項</h5>
                <table class="table table-hover text-center mt-4">
                    <thead>
                        <tr >
                            <th style="color:#946E6E;">需求品項名稱</th>
                            <th style="color:#946E6E;">徵求數量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fz-color2">@Html.DisplayFor(model => model.CollectItemName)</td>
                            <td class="fz-color2">@Html.DisplayFor(model => model.CollectAmount)</td>
                        </tr>
                    </tbody>
                </table>
                @* <h5 class="fz-color2 fw-bold"><i class="fa-solid fa-seedling me-1 "></i>需求品項</h5>
                <div>
                    <p class="fz-color1 px-4 py-3">@Html.DisplayFor(model => model.CollectItemName)</p>
                    <p>@Html.DisplayFor(model => model.CollectAmount)</p>
                </div> *@
                @* <div class="progress">
                    <div class="progress-bar progress-bar-striped bar fw-bold" role="progressbar"
                         style="width: 100%;">
                        @Html.DisplayFor(model => model.CollectAmount)
                    </div>
                </div> *@
            </div>
            <div class="row mt-5">
                <div class="d-flex justify-content-end">
                    <a asp-controller="Donate" asp-action="DonateCreate" class="btn-border btn btn-lg fw-bold fz-color2 a">我要捐贈</a>
                </div>
            </div>
            <div class="row mt-2">
                <div  class="d-flex justify-content-end">
                    <a asp-controller="Collect" asp-action="EditCollect" asp-route-id="@Model.CollectId" id="editCollect" class="me-3 btn-border btn btn-lg fw-bold fz-color2 a">修改</a>
                    <a asp-controller="Collect" asp-action="DeleteCollectMember" asp-route-id="@Model.CollectId"  id="deleteCollect" class="btn-border btn btn-lg fw-bold fz-color2 a" onclick="return confirm('確定要刪除嗎?')">刪除</a>
                </div>
            </div>
            
        </div>

    </div>
</div>


@* <div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model =>model.CollectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectCaption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectCaption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CollectStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CollectStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConvenienNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConvenienNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectAmount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
   
</div> *@
