@model IEnumerable<EnGee.ViewModels.Rong_CollectIndexViewModel>

@{
    ViewBag.HeaderTitle = "許願池";
}
@{
    var mainCategoryList = ViewBag.MainCategory as List<TCosmeticMainCategory>;
    var subcategoryList = ViewBag.Subcategory as List<TCosmeticSubcategory>;
}


<div class="container-md my-5">

    <div class="row">
        <div class="col-lg-3">
            <h3 class="pb-4">彩妝品分類</h3>
            <a class="d-flex justify-content-between h5 text-decoration-none mb-4" href="@Url.Action("CollectIndex")">
                全部
            </a>
            <ul class="list-unstyled">
                @foreach (var main in mainCategoryList)
                {
                    if (!main.Equals(mainCategoryList.Last()))
                    {
                        <li class="pb-3">
                            <a id="selectMain" name="MainCategoryId" class="collapsed d-flex justify-content-between h5 text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapse@(main.MainCategoryId)" href="@Url.Action("CollectIndex",new{mainId = main.MainCategoryId})">
                                @main.MainCategory
                                <i class="fa-solid fa-chevron-down down-arrow"></i>
                            </a>
                            <ul id="collapse@(main.MainCategoryId)" class="collapse list-unstyled ps-3 ">
                                <li><a name="MainCategoryId" class="text-decoration-none sub-link" href="@Url.Action("CollectIndex", new{mainId = main.MainCategoryId})">所有@(main.MainCategory)</a></li>

                                @foreach (var sub in subcategoryList.Where(s => s.MainCategoryId == main.MainCategoryId))
                                {
                                    <li><a id="selectSub" name="SubcategoryId" class="text-decoration-none sub-link" href="@Url.Action("CollectIndex", new{subId = sub.SubcategoryId})">@sub.Subcategory</a></li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="pb-3">
                            <a id="selectMain" name="MainCategoryId" class="d-flex justify-content-between h5 text-decoration-none" href="@Url.Action("CollectIndex",new{mainId = main.MainCategoryId})">
                                @main.MainCategory
                            </a>
                        </li>
                    }

                }
            </ul>
            <div class="d-grid">
                @if (ViewBag.ShowWishButton)
                {
                    <a asp-controller="Collect" asp-action="Create" class="btn btn-lg fw-bold fz-color2 btn-border a">我要許願</a>
                }
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row pb-3 d-flex justify-content-between align-items-center">
                <div class="col-auto  ">
                    <select id="orderByStartDate" class="form-select-sm border-0">
                        <option disabled selected>排列方式</option>
                        <option value="1">募集時間：舊到新</option>
                        <option value="2">募集時間：新到舊</option>
                    </select>
                </div>
                <div class="col-auto">
                    @using (Html.BeginForm())
                    {
                        <input type="text" name="txtKeyword" placeholder="搜尋文章標題" />
                        <input type="submit" value="查詢" class="btn" />
                    }
                </div>
            </div>
            <div id="cards" class="row">
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 d-flex align-items-stretch">
                            <div class="card mb-4" style="width: 18rem; height:22rem;">
                                <div style="display: flex; align-items: center; justify-content: center; overflow: hidden;">
                                    <a href="@Url.Action("CollectInformation", new { id = item.CollectId })">
                                        <img name="CollectImagePath" class="card-img-top rounded-0" src="~/images/donation/@Html.DisplayFor(modelItem => item.CollectImagePath)" style="width: 100%; height: 100%; object-fit: contain;">
                                    </a>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <a href="@Url.Action("CollectInformation", new { id = item.CollectId })" class="h5 card-title text-decoration-none fw-bold p-caption" style="color: #ae6565;">
                                            @Html.DisplayFor(modelItem => item.CollectTitle)
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#publisherInfo@(item.MemberId)" class="text-decoration-none text-black-50">
                                            發布者：@Html.DisplayFor(modelItem => item.Username)
                                        </a>
                                    </div>
                                </div>
                                <div class="card-footer border-top-0">
                                    <small class="fz-color1">募集日：@Html.DisplayFor(modelItem => item.CollectStartDate)－@Html.DisplayFor(modelItem => item.CollectEndDate) </small>
                                </div>
                            </div>
                        </div>
                        @* 發布者的資訊 *@
                        <div class="modal fade" id="publisherInfo@(item.MemberId)" tabindex="-1" role="dialog" aria-labelledby="publisherInfoModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="publisherInfoModalLabel">許願發布者資料</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="rounded-circle overflow-hidden mb-2" style="width: 100px; height: 100px;">
                                            @if (item.member != null && !string.IsNullOrEmpty(item.member.PhotoPath))
                                            {
                                                <img src="~/images/UserImage/@item.member.PhotoPath" alt="Publisher Photo" class="w-100 h-100"/>
                                            }
                                            else
                                            {
                                                <img src="~/images/UserImage/profile.png" alt="Default User Photo" class="w-100 h-100"/>
                                            }
                                        </div>
                                        <div>
                                            公益團體 / 機構名稱：@item.member.Username
                                        </div>


                                        @if (item.member.Introduction == null)
                                        {
                                            <div>簡介：尚無內容</div>
                                        }
                                        else
                                        {
                                            <div>簡介：@item.member.Introduction</div>
                                        }

                                        <div>
                                            聯絡地址：@item.member.Address

                                        </div>
                                        <div>
                                            聯絡電話：@item.member.Phone
                                        </div>
                                        <div>
                                            目前已許願 @item.TotalPublished 次
                                        </div>
                                     </div>
                                    
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-12 text-center my-5">
                        <p>此分類無商品可顯示</p>
                    </div>
                }
            </div>
            <div class="row">
                <ul class="pagination justify-content-end">
                    @{
                        int currentPage = (int)ViewData["CurrentPage"];
                        int totalPage = (int)ViewData["TotalPage"];
                        // int stillCollect = (int)ViewData["StillCollect"];
                        int currentSortBy = (int)(ViewData["CurrentSortBy"]?? 1);

                        <li class="page-item" style="@(currentPage == 1 ? "display:none":"")">
                            <a class="page-link" href="@Url.Action("CollectIndex", new{page = currentPage - 1, sortBy = currentSortBy})">＜</a>
                        </li>
                        for (int i = 1; i <= totalPage; i++)
                        {
                            <li class="page-item @(i == currentPage ? "active":"")">
                                <a class="page-link" href="@Url.Action("CollectIndex", new{page = i, sortBy = currentSortBy})">@i</a>
                            </li>
                        }
                        <li class="page-item" style="@(currentPage == @totalPage || @totalPage == 0 ? "display:none":"")">
                            <a class="page-link" href="@Url.Action("CollectIndex", new{page = currentPage + 1, sortBy = currentSortBy})">＞</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>



@* 可以用的版本但不能選取分類後照時間分類 *@
<script>
    document.getElementById("orderByStartDate").addEventListener("change", function () {
        var orderBySelect = this.value;
        var currentPage = new URL(window.location.href).searchParams.get("page") || 1;  //  當前頁數
        var currentMain = new URL(window.location.href).searchParams.get("mainId"); //  當前主分類
        var currentSub = new URL(window.location.href).searchParams.get("subId");   //  當前子分類

        window.location.href = "@Url.Action("CollectIndex")" + "?page=" + currentPage + "&sortBy=" + orderBySelect + "&mainId=" + currentMain + "&subId=" + currentSub;
    })
</script>
