@model EnGee.ViewModels.Rong_DonateViewModel

@{
    ViewBag.HeaderTitle = "捐贈";
}

<div class="container py-5">
    <form asp-action="Donate" id="donationform" method="post" class="m-auto col-md-8 g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger "></div>
        @Html.AntiForgeryToken()

        <input type="hidden" name="CollectId" value="@Model.CollectId" />
        <input type="hidden" name="MemberId" value="@ViewBag.MemerId" />
        <input type="hidden" name="Point" id="idpoints" value="@ViewBag.MemberPoint" />
        <input type="hidden" name="DonationStatus" value="1" />


        <div class="row form-group mb-4">
            <div class="form-group col-md-6 mb-3">
                <label for="DonarName" class="form-label h5 fz-color1">捐贈人姓名</label>
                <input type="text" class="form-control mt-1 fz-color1" name="DonarName" id="DonarName" placeholder="姓名"
                       required>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="DonarPhone" class="form-label h5 fz-color1">捐贈人電話</label>
                <input type="text" class="form-control mt-1 fz-color1" name="DonarPhone" id="DonarPhone" placeholder="電話"
                       required>
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="" class="h5 fz-color1">捐贈品項</label>
            <div class="row p-3">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="col-5" style="color:#946E6E;">品項名稱</th>
                            <th class="col-3" style="color:#946E6E;">目前仍需要的數量</th>
                            <th class="col-4" style="color:#946E6E;">您的捐贈數量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fz-color3">
                                <i class="fa-solid fa-hand-holding-heart me-2 icon-style"></i>
                                @Html.DisplayFor(model => model.CollectItemName)
                            </td>
                            <td class="fz-color3">
                                @Html.DisplayFor(model => model.CollectAmount)
                            </td>
                            <td class="fz-color3">
                                <input type="number" name="DonationAmount" id="DonationAmount" class="form-control fz-color1" min="1" max="@Html.DisplayFor(model => model.CollectAmount)" placeholder="選擇數量" required>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group mb-4">
            <div class="row">
                <label class="form-label h5 fz-color1">寄送方式</label>
            </div>
            <div class="row">
                @if (Model.DeliveryTypeId == 1)
                {
                    <div class="m-1">
                        <input id="DeliveryFee" name="DeliveryTypeId" type="radio" class="me-1" value="1" data-deliveryfee="@Html.DisplayFor(model => model.DeliveryFee)" required />
                        @Html.DisplayFor(model => model.DeliveryType) @Html.DisplayFor(model => model.DeliveryFee)點
                    </div>
                    <div class="ms-4">
                        寄件地址：@Html.DisplayFor(model => model.DeliveryAddress)
                    </div>
                }
                else if (Model.DeliveryTypeId == 2)
                {
                    <div class="m-1">
                        <input id="DeliveryFee" name="DeliveryTypeId" type="radio" class="me-1" value="2" data-deliveryfee="@Html.DisplayFor(model => model.DeliveryFee)" required />
                        @Html.DisplayFor(model => model.DeliveryType) @Html.DisplayFor(model => model.DeliveryFee)點
                    </div>
                    <div class="ms-4">
                        7-11超商店號：@Html.DisplayFor(model => model.ConvenienNum)
                    </div>
                }
                else if (Model.DeliveryTypeId == 3)
                {
                    <div class="col-6">
                        <div class="m-1">
                            <input id="DeliveryFee" name="DeliveryTypeId" type="radio" class="me-1" value="1" data-deliveryfee="150" required />
                            宅配 150 點
                        </div>
                        <div name="DeliveryType" class="ms-4">
                            寄件地址：@Html.DisplayFor(model => model.DeliveryAddress)
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="m-1">
                            <input id="DeliveryFee" name="DeliveryTypeId" type="radio" class="me-1" value="2" data-deliveryfee="60" required />
                            超商 60 點
                        </div>
                        <div class="ms-4">
                            7-11超商店號：@Html.DisplayFor(model => model.ConvenienNum)
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="form-group mb-4 m-auto d-flex justify-content-end">
            <button type="submit" form="donationform" id="submitform" class="btn btn-border a px-3 me-2 fw-bold fz-color2">送出</button>
            @Html.ActionLink("取消", "CollectIndex", "Collect",new { id=Model.CollectId },new {@class="fz-color2 btn btn-border a px-3 me-2 fw-bold"})

        </div>
    </form>

    @* 0912新增會員點數不足的情況 *@
    <script>
        document.getElementById("submitform").addEventListener("click", function (e) {
            var form = document.getElementById("donationform");
            
            if (form.checkValidity()) {
                var mpoints = parseFloat(document.getElementById("idpoints").value);
                var selectedDeliveryType = document.querySelector( 'input[name="DeliveryTypeId"]:checked');
                var fee = selectedDeliveryType ? parseFloat(selectedDeliveryType.getAttribute("data-deliveryfee")) : 0;
                console.log("mpoints: " + mpoints);
                console.log("fee: " + fee);

                if (mpoints >= fee) {
                    alert("捐贈表單填寫成功！");
                    form.submit();
                 } else {
                    e.preventDefault();
                    alert("點數不足，請先儲值後再捐贈！");
                    window.location.href = "/Collect/CollectIndex";
                }
            } else {
                alert("請確實填寫所有欄位！");
            }
        });
    </script>

</div>
