@model Rong_CCollectWrap
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@{
    Layout = "_LayoutAdmin";
    ViewBag.HeaderTitle = "許願表單修改";
}

<div class="container py-5">
    <form asp-action="EditCollect" id="editform" method="post" class="m-auto col-md-8 g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="CollectId" value="@Model.CollectId" />
        <div class="form-group mb-4">
            <label asp-for="CollectTitle" class="form-label h5 fz-color1">許願標題</label>
            <input type="text" id="CollectTitle" asp-for="CollectTitle" class="form-control mt-1 fz-color1" placeholder="請輸入1-10個中文字" pattern="[\u4e00-\u9fa5]{1,20}" title="請填入1-10個中文字" required />
        </div>
        <div class="form-group mb-4">
            <label asp-for="CollectCaption" class="form-label h5 fz-color1">募集需求描述</label>
            <textarea id="CollectCaption" asp-for="CollectCaption" class="form-control mt-1 fz-color1 scroll" placeholder="需求描述" required></textarea>
        </div>
        <div class="form-group mb-4">
            <label asp-for="CollectEndDate" class="form-label h5 fz-color1">募集結束時間：</label>
            <input type="date" id="CollectStartDate" name="CollectStartDate" hidden>
            <input type="date" id="CollectEndDate" asp-for="CollectEndDate" class="form-control" onkeydown="return false" required />
        </div>

        <div class="form-group mb-4">
            <label for="photo" class="form-label h5 fz-color1">圖片上傳</label>
            <input type="file" name="photo" id="CollectImagePath" data-target="file-uploader" accept=".jpg,.jpeg,.png" class="form-control fz-color1" />
            <img id="photo" name="photo" class="pt-3" style="width:250px; height:300px; object-fit: contain;" />
        </div>

        <div class="form-group mb-4">
            <label for="" class="h5 fz-color1">需求品項</label>
            <ul class="list-group">
                <li class="list-group-item fz-color1">
                    <div class="row p-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <i class="fa-solid fa-hand-holding-heart me-2"></i>
                            <input type="text" id="CollectItemName" asp-for="CollectItemName" class="form-control" placeholder="品項名稱" required>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <select id="MainCategoryId" asp-for="MainCategoryId" class="form-select fz-color1" onchange="updateSubcategory()" required>
                                <option disabled selected>主分類</option>
                                @foreach (var main in ViewBag.MainCategory)
                                {
                                    <option value="@main.MainCategoryId">@main.MainCategory</option>
                                }
                            </select>
                            <select id="SubcategoryId" asp-for="SubcategoryId" class="form-select fz-color1 ms-1" required>
                                <option disabled selected>副分類</option>
                                @foreach (var sub in ViewBag.Subcategory)
                                {
                                    <option value="@sub.SubcategoryId" data-maincategoryid="@sub.MainCategoryId">@sub.Subcategory</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2 d-flex justify-content-end align-items-center ">
                            <input type="number" asp-for="CollectAmount" class="form-control fz-color1" min="1" placeholder="數量" required>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="form-group mb-4">
            <label for="" class="h5 fz-color1">寄送資訊</label>
            <div class="row">
                <div class="col-6 form-check">
                    <select id="DeliveryTypeId" asp-for="DeliveryTypeId" class="form-select fz-color1">
                        @foreach (var de in ViewBag.DeliveryType)
                        {
                            <option value="@de.DeliveryTypeId">@de.DeliveryType</option>
                        }
                    </select>
                </div>
                <div class="col-6 form-check">
                    <input type="text" id="ConvenienNum" asp-for="ConvenienNum" class="form-control  fz-color1 mb-2" placeholder="輸入超商店號(6碼)" pattern="[0-9]{6}" />
                    <input type="text" id="DeliveryAddress" asp-for="DeliveryAddress" class="form-control fz-color1" placeholder="輸入宅配地址" />
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="CollectStatus" /> 上架中
            </label>
        </div>
        <div class="form-group mb-4 m-auto d-flex justify-content-end">
            <button type="submit" form="editform" id="submitForm" class="btn btn-border a px-3 me-2 fw-bold fz-color2">送出</button>
            <button type="button" id="cancelForm" class="btn btn-border a px-3 fw-bold fz-color2">取消</button>
        </div>

    </form>
    <script>
        document.getElementById("CollectEndDate").min = new Date().toISOString().split("T")[0];
    </script>
    <script>
        var jq = jQuery.noConflict();
        jq('#CollectImagePath').on('change', function () {
            const file = this.files[0];
            const objectURL = URL.createObjectURL(file);
            jq('#photo').attr('src', objectURL);
        });
    </script>
    <script>
        document.getElementById("cancelForm").addEventListener("click", function () {
            window.location.href = '/Collect/CollectInformation';
        });
        document.getElementById("submitForm").addEventListener("click", function () {
            var form = document.getElementById("editform");
            if (form.checkValidity()) {
                alert("許願修改成功！");
            } else {
                alert("請再仔細檢查所有欄位！");
            }
        });
    </script>
    <script>
        window.onload = function () {
            var typeSelected = document.getElementById("DeliveryTypeId");
            var numInput = document.getElementById("ConvenienNum");
            var addressInput = document.getElementById("DeliveryAddress");
            var deliveryTypeIdFromDatabase = @Html.Raw(Json.Serialize(Model.DeliveryTypeId));

            if (deliveryTypeIdFromDatabase === 1) {
                numInput.style.display = "none";
                addressInput.style.display = "block";
                addressInput.setAttribute("required", "required");
            } else if (deliveryTypeIdFromDatabase === 2) {
                numInput.style.display = "block";
                numInput.setAttribute("required", "required");
                addressInput.style.display = "none";
            } else {
                numInput.style.display = "block";
                numInput.setAttribute("required", "required");
                addressInput.style.display = "block";
                addressInput.setAttribute("required", "required");
            }

            typeSelected.addEventListener("change", function () {
                var selectedValue = this.value;
                if (selectedValue === "1") {
                    numInput.style.display = "none";
                    addressInput.style.display = "block";
                    addressInput.setAttribute("required", "required");
                } else if (selectedValue === "2") {
                    numInput.style.display = "block";
                    numInput.setAttribute("required", "required");
                    addressInput.style.display = "none";
                } else {
                    numInput.style.display = "block";
                    numInput.setAttribute("required", "required");
                    addressInput.style.display = "block";
                    addressInput.setAttribute("required", "required");
                }
            });
        };
    </script>
    <script>
        function updateSubcategory() {
            var selectedMainId = document.getElementById("MainCategoryId").value;
            var subOptions = document.querySelectorAll("#SubcategoryId option");
            for (var i = 0; i < subOptions.length; i++) {
                var option = subOptions[i];
                var dataMainId = option.getAttribute("data-maincategoryid");
                if (dataMainId === selectedMainId) {
                    option.style.display = "block";
                } else {
                    option.style.display = "none";
                }
            }
            document.getElementById("SubcategoryId").value = "";
        }

    </script>
</div>
